.grid {
  margin: 85px 0 0;
}

nav {
  cursor: default;
  padding-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  height: 60px;
  background-color: rgb(8, 8, 43);
}

.start-button {
  float: left;
  border: 0;
  background: none;
  color: aliceblue;
  margin-top: 17.5px;
  font-size: 25px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  cursor: pointer;
  padding-left: 30px;
  position: relative;
}

.start-button:hover {
  color: rgb(153, 226, 244);
}

.start-button::after {
  content: "";
  left: 27px;
  width: 0;
  height: 4px;
  bottom: -8px;
  position: absolute;
  transition: all 500ms;
  background-color: rgb(153, 226, 244);
}

.start-button:hover::after {
  width: calc(100% - 30px);
}

.bg-image {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  float: left;
  width: 40px;
  height: 40px;
  background-image: url('./Node/main_icon.png');
  background-size: 40px 40px;
  cursor: default;
}

.weight-box {
  float: right;
  height: 30px;
  width: 30px;
  margin-top: 15px;
  margin-right: 1px;
  border: 0;
  background-size: 30px 30px;
  background-color: white;
  cursor: pointer;
  outline: 1px solid rgb(175, 216, 248);
}

.weight-text {
  float: right;
  font-size: 20px;
  margin-right: 10px;
  margin-top: 15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(8, 8, 43);
}

.w2 {
  background-image: url('./Node/weight2.png');
}

.w3 {
  background-image: url('./Node/weight3.png');
}

.w4 {
  background-image: url('./Node/weight4.png');
}

.w5 {
  background-image: url('./Node/weight5.png');
}

.w6 {
  background-image: url('./Node/weight6.png');
}

.w7 {
  background-image: url('./Node/weight7.png');
}

.w8 {
  background-image: url('./Node/weight8.png');
}

.w9 {
  background-image: url('./Node/weight9.png');
  margin-right: 30px;
}

.cursor-2 {
  cursor: url('./Node/weightsmall2.png') 15 15, auto;
}

.cursor-3 {
  cursor: url('./Node/weightsmall3.png') 15 15, auto;
}

.cursor-4 {
  cursor: url('./Node/weightsmall4.png') 15 15, auto;
}

.cursor-5 {
  cursor: url('./Node/weightsmall5.png') 15 15, auto;
}

.cursor-6 {
  cursor: url('./Node/weightsmall6.png') 15 15, auto;
}

.cursor-7 {
  cursor: url('./Node/weightsmall7.png') 15 15, auto;
}

.cursor-8 {
  cursor: url('./Node/weightsmall8.png') 15 15, auto;
}

.cursor-9 {
  cursor: url('./Node/weightsmall9.png') 15 15, auto;
}